body{
    font-family: Helvetica;
}

#heroes{
    background-color: #F1F3FF;
}
#heroes h2{
    font-size: 36px; 
    font-weight: 700; 
    line-height: 54px;
}
#body-14-light{
    font-size: 14px; 
    font-weight: 300; 
    line-height: 20px;
}
#body-14-regular{
    font-size: 14px; 
    font-weight: 400; 
    line-height: 20px;
}
#heading-24-bold{
    font-size: 24px; 
    font-weight: 700; 
    line-height: 36px;
}

#row-section-ourservice img{
    margin: auto;
    padding-inline: 5% 10%;
}

#row-section-ourservice{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

#row-section-ourservice .col-5 h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

ul{
    list-style-image: url("/assets/icon/checklist.svg");
}
li > *{
    display: inline-block;
    margin-inline-start: 5px;
}
li p{
    vertical-align:super;
}
.colrow{
    width: 268px;
    height: 196px;
    border-radius: 8px;
    padding-left: 24px;
    padding-top: 24px;
}
.colrow img,h3{
    padding-bottom: 16px;
}
#why-us h2{
    padding-bottom: 16px;
}

#why-us #body-14-light{
    padding-bottom: 40px;
}

#carousel-section{
    width: 832px;
    height: 270px;
    background-color: #F1F3FF;
    border-radius: 8px;
}
#img-carousel{
    margin-top: auto;
    margin-bottom: auto;
    padding-left : 156px;
}
#testi-carousel{
    margin-top: 69px;
    margin-bottom: 69px;
    padding-right: 150px;
}
#testimonial-section{
    margin-top: 100px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
